# Build artifacts
/obj/
/tests/bin/
*.gcno
*.gcda
*.gcov

# Leftover build artifacts and binaries
/bin/
/c/
/go/
/mock-mgt
/mock-netconf
/netconf
/direct
/config.yang

# General
*.exe
.claude/*
confd/*
